.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #e3f2fd; /* Світло-блакитний */
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  border: 2px solid #2196f3;
}
h1 { color: #0d47a1; }